In [1]:
import numpy as np
import pandas as pd

In [2]:
data1=pd.read_csv("train_8wry4cB.csv")

In [3]:
data2=pd.read_csv("test_Yix80N0.csv")

In [4]:
data1.shape

(10500, 5)

In [5]:
data2.shape

(4500, 4)

In [6]:
#data1["timecolumn"]=data1["startTime"].apply(lambda startTime:startTime.split(" ")[1])

In [7]:
#data1["timecolumn_end"]=data1["endTime"].apply(lambda endTime:endTime.split(" ")[1])

In [8]:
data1["startTime"]=data1["startTime"].apply(pd.to_datetime)

In [9]:
data2["startTime"]=data2["startTime"].apply(pd.to_datetime)

In [10]:
data1["endTime"]=data1["endTime"].apply(pd.to_datetime)

In [11]:
data2["endTime"]=data2["endTime"].apply(pd.to_datetime)

In [12]:
data1.dtypes

session_id             object
startTime      datetime64[ns]
endTime        datetime64[ns]
ProductList            object
gender                 object
dtype: object

In [13]:
data1["timespent"]=data1["endTime"]-data1["startTime"]

In [14]:
data2["timespent"]=data2["endTime"]-data2["startTime"]

In [15]:
data1["timespent"]

0       00:01:00
1       00:06:00
2       00:00:00
3       00:03:00
4       00:02:00
          ...
10495   00:03:00
10496   00:00:00
10497   00:00:00
10498   00:00:00
10499   00:08:00
Name: timespent, Length: 10500, dtype: timedelta64[ns]

In [16]:
data1['year_start']=data1.startTime.dt.year

In [17]:
data2['year_start']=data2.startTime.dt.year

In [18]:
data1['month_start']=data1.startTime.dt.month

In [19]:
data2['month_start']=data2.startTime.dt.month

In [20]:
data1['day_start']=data1.startTime.dt.day

In [21]:
data2['day_start']=data2.startTime.dt.day

In [22]:
data1['weekday'] = data1['startTime'].dt.dayofweek

In [23]:
data2['weekday'] = data2['startTime'].dt.dayofweek

In [24]:
data1['hour_24h'] = data1['startTime'].dt.hour

In [25]:
data2['hour_24h'] = data2['startTime'].dt.hour

In [26]:
data1['year_end']=data1.endTime.dt.year

In [27]:
data2['year_end']=data2.endTime.dt.year

In [28]:
data1['month_end']=data1.endTime.dt.month

In [29]:
data2['month_end']=data2.endTime.dt.month

In [30]:
data1['hour_24h'] = data1.endTime.dt.hour

In [31]:
data2['hour_24h'] = data2.endTime.dt.hour

In [32]:
data1['day_end']=data1.endTime.dt.day

In [33]:
data2['day_end']=data2.endTime.dt.day

In [34]:
data1['weekday'] = data1.endTime.dt.dayofweek

In [35]:
data2['weekday'] = data2.endTime.dt.dayofweek

In [36]:
data1.loc[data1['year_start']!=data1['year_end'],:]

Empty DataFrame
Columns: [session_id, startTime, endTime, ProductList, gender, timespent, year_start, month_start, day_start, weekday, hour_24h, year_end, month_end, day_end]
Index: []

In [37]:
month_wrongrecord=data1.loc[data1['month_start']!=data1['month_end'],:]

In [38]:
month_wrongrecord_test=data2.loc[data2['month_start']!=data2['month_end'],:]

In [39]:
day_wrongrecord=data1.loc[data1['day_start']!=data1['day_end'],:]

In [40]:
day_wrongrecord_test=data2.loc[data2['day_start']!=data2['day_end'],:]

In [41]:
data1.drop("startTime",axis=1,inplace=True)

In [42]:
data2.drop("startTime",axis=1,inplace=True)

In [43]:
data1.drop("endTime",axis=1,inplace=True)

In [44]:
data2.drop("endTime",axis=1,inplace=True)

In [45]:
data1.columns

Index(['session_id', 'ProductList', 'gender', 'timespent', 'year_start',
       'month_start', 'day_start', 'weekday', 'hour_24h', 'year_end',
       'month_end', 'day_end'],
      dtype='object')

In [46]:
data1.drop("session_id",axis=1,inplace=True)

In [47]:
data2.drop("session_id",axis=1,inplace=True)

In [48]:
#df.drop(df[df['Age'] < 25].index, inplace = True) 
data1.drop(data1.loc[data1['day_start']!=data1['day_end'],:].index, inplace = True)

In [49]:
#data2.drop(data2.loc[data2['day_start']!=data2['day_end'],:].index, inplace = True)

In [50]:
data1.shape

(10422, 11)

In [51]:
data1.drop(data1.loc[data1['month_start']!=data1['month_end'],:].index, inplace = True)

In [52]:
#data2.drop(data2.loc[data2['month_start']!=data2['month_end'],:].index, inplace = True)

In [53]:
data1.shape

(10407, 11)

In [54]:
data1.drop(["year_end"],axis=1,inplace=True)

In [55]:
data2.drop(["year_end"],axis=1,inplace=True)

In [56]:
data1.drop(["year_start"],axis=1,inplace=True)

In [57]:
data2.drop(["year_start"],axis=1,inplace=True)

In [58]:
data1.columns

Index(['ProductList', 'gender', 'timespent', 'month_start', 'day_start',
       'weekday', 'hour_24h', 'month_end', 'day_end'],
      dtype='object')

In [59]:
data1.shape

(10407, 9)

In [60]:
data1.dtypes

ProductList             object
gender                  object
timespent      timedelta64[ns]
month_start              int64
day_start                int64
weekday                  int64
hour_24h                 int64
month_end                int64
day_end                  int64
dtype: object

In [61]:
data1.head()

,ProductList,gender,timespent,month_start,day_start,weekday,hour_24h,month_end,day_end
0,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,00:01:00,12,15,0,18,12,15
1,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,00:06:00,12,16,1,14,12,16
2,A00002/B00001/C00020/D16944/,female,00:00:00,1,12,6,15,1,12
3,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,00:03:00,11,23,6,3,11,23
4,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,00:02:00,12,17,2,16,12,17

In [62]:
data1['timespent'] = data1['timespent'].astype('timedelta64[m]')

In [63]:
data2['timespent'] = data2['timespent'].astype('timedelta64[m]')

In [64]:
data1.drop(["month_end","day_end"],axis=1,inplace=True)

In [65]:
data2.drop(["month_end","day_end"],axis=1,inplace=True)

In [66]:
data1.shape

(10407, 7)

In [67]:
data2.shape

(4500, 6)

In [68]:
data1["ProductList"].shape

(10407,)

In [69]:
data1["ProductList"][0]

'A00002/B00003/C00006/D28435/;A00002/B00003/C00006/D02554/;A00002/B00003/C00006/D28436/;A00002/B00003/C00006/D28437/'

In [70]:
def extract_product(str):
    if ";"  in str:
        prd_lst = str.split(";")
        count_item = len(prd_lst)
        first_lv1 = prd_lst[0].split("/")[0]
        first_lv2 = prd_lst[0].split("/")[1]
        lv1_lst =[]
        lv2_lst =[]
        for item in prd_lst:
            lv1_lst.append(item.split("/")[0])
            lv2_lst.append(item.split("/")[1])
        unique_lv1 = len(set(lv1_lst))
        unique_lv2 = len(set(lv2_lst))
        most_freq_lv1 =  max(lv1_lst, key=Counter(lv1_lst).get)        
    else:
        lv_lst = str.split("/")
        first_lv1 = lv_lst[0]
        first_lv2 = lv_lst[1]
        count_item = 1
        unique_lv1 = 1
        unique_lv2 = 1
        most_freq_lv1 = first_lv1
    return (count_item,first_lv1,first_lv2,unique_lv1,unique_lv2,most_freq_lv1)

In [71]:
new_col = ('NumProduct','FirstA','FirstB','UniqueA','UniqueB','MostA')

In [72]:
new_col_test = ('NumProduct','FirstA','FirstB','UniqueA','UniqueB','MostA')

In [135]:
from collections import Counter
#scikit learn  library
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score,precision_score
from sklearn.metrics import recall_score
#Use LogisticRegression for classifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
#oversampling
from imblearn.over_sampling import SMOTE

import warnings
warnings.filterwarnings('ignore')

In [74]:
data1.shape

(10407, 7)

In [75]:
new_col_lst = data1['ProductList'].apply(lambda x: extract_product(x))

In [76]:
new_col_lst_test = data2['ProductList'].apply(lambda x: extract_product(x))

In [77]:
new_col_df = pd.DataFrame(new_col_lst.tolist(),columns =new_col)

In [78]:
new_col_df_test= pd.DataFrame(new_col_lst_test.tolist(),columns =new_col_test)

In [79]:
new_col_df.shape

(10407, 6)

In [80]:
data1.shape

(10407, 7)

In [81]:
final_data = pd.concat([data1, new_col_df], axis=1)

In [82]:
final_data_test = pd.concat([data2, new_col_df_test], axis=1)

In [83]:
final_data.shape

(10500, 13)

In [84]:
final_data.drop_duplicates(inplace=True)

In [85]:
#final_data_test.drop_duplicates(inplace=True)

In [86]:
final_data.shape

(10448, 13)

In [87]:
final_data.drop("ProductList",axis=1,inplace=True)

In [88]:
final_data_test.drop("ProductList",axis=1,inplace=True)

In [89]:
final_data["gender"]=final_data['gender'].map({'female':1,'male':0})

In [90]:
final_data.nunique()

gender          2
timespent      85
month_start    10
day_start      18
weekday         7
hour_24h       24
NumProduct     29
FirstA         11
FirstB         82
UniqueA         3
UniqueB         6
MostA          11
dtype: int64

In [91]:
final_data.dtypes

gender         float64
timespent      float64
month_start    float64
day_start      float64
weekday        float64
hour_24h       float64
NumProduct     float64
FirstA          object
FirstB          object
UniqueA        float64
UniqueB        float64
MostA           object
dtype: object

In [92]:
final_data.columns

Index(['gender', 'timespent', 'month_start', 'day_start', 'weekday',
       'hour_24h', 'NumProduct', 'FirstA', 'FirstB', 'UniqueA', 'UniqueB',
       'MostA'],
      dtype='object')

In [93]:
final_data["FirstA"]=final_data["FirstA"].astype("str").astype("category")

In [94]:
final_data_test["FirstA"]=final_data_test["FirstA"].astype("str").astype("category")

In [95]:
final_data["FirstB"]=final_data["FirstB"].astype("str").astype("category")

In [96]:
final_data_test["FirstB"]=final_data_test["FirstB"].astype("str").astype("category")

In [97]:
final_data["MostA"]=final_data["MostA"].astype("str").astype("category")

In [98]:
final_data_test["MostA"]=final_data_test["MostA"].astype("str").astype("category")

In [99]:
final_data = pd.get_dummies(final_data)

In [100]:
final_data_test = pd.get_dummies(final_data_test)

In [101]:
final_data.shape

(10448, 116)

In [102]:
final_data_test.shape

(4500, 101)

In [103]:
final_data.head()

,gender,timespent,month_start,day_start,weekday,hour_24h,NumProduct,UniqueA,UniqueB,FirstA_A00001,...,MostA_A00003,MostA_A00004,MostA_A00005,MostA_A00006,MostA_A00007,MostA_A00008,MostA_A00009,MostA_A00010,MostA_A00011,MostA_nan
0,1.0,1.0,12.0,15.0,0.0,18.0,4.0,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,6.0,12.0,16.0,1.0,14.0,7.0,1.0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1.0,0.0,1.0,12.0,6.0,15.0,1.0,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,3.0,11.0,23.0,6.0,3.0,3.0,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,2.0,12.0,17.0,2.0,16.0,2.0,1.0,1.0,1,...,0,0,0,0,0,0,0,0,0,0

In [104]:
final_data["gender"].value_counts()

1.0    8127
0.0    2277
Name: gender, dtype: int64

In [105]:
[min(final_data[i]) for i in final_data.columns]

[0.0,
 0.0,
 1.0,
 12.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [106]:
final_data.isna().sum()

gender          44
timespent       44
month_start     44
day_start       44
weekday         44
                ..
MostA_A00008     0
MostA_A00009     0
MostA_A00010     0
MostA_A00011     0
MostA_nan        0
Length: 116, dtype: int64

In [107]:
final_data=final_data.dropna(axis=0, how='any')

In [108]:
final_data.shape

(10311, 116)

In [109]:
final_data_test.shape

(4500, 101)

In [110]:
final_data_test=final_data_test.dropna(axis=0, how='any')

In [111]:
x=final_data.loc[:,final_data.columns!="gender"]

In [112]:
y=final_data.loc[:,"gender"]

In [113]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.4)

In [114]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((6186, 115), (4125, 115), (6186,), (4125,))

In [115]:
from imblearn.combine import SMOTETomek

In [116]:
from imblearn.over_sampling import RandomOverSampler

In [117]:
os=RandomOverSampler(0.5)

In [118]:
xtrain,ytrain=os.fit_sample(x,y)

In [119]:
xtrain.shape,ytrain.shape

((12079, 115), (12079,))

In [120]:
xtrain.columns.difference(final_data_test.columns)

Index(['FirstA_nan', 'FirstB_B00008', 'FirstB_B00033', 'FirstB_B00052',
       'FirstB_B00059', 'FirstB_B00064', 'FirstB_B00073', 'FirstB_B00074',
       'FirstB_B00076', 'FirstB_B00078', 'FirstB_B00080', 'FirstB_B00082',
       'FirstB_B00083', 'FirstB_B00085', 'FirstB_nan', 'MostA_nan'],
      dtype='object')

In [121]:
cols=['FirstA_nan', 'FirstB_B00008', 'FirstB_B00033', 'FirstB_B00052',
       'FirstB_B00059', 'FirstB_B00064', 'FirstB_B00073', 'FirstB_B00074',
       'FirstB_B00076', 'FirstB_B00078', 'FirstB_B00080', 'FirstB_B00082',
       'FirstB_B00083', 'FirstB_B00085', 'FirstB_nan', 'MostA_nan']

In [122]:
for col in cols:
    final_data_test[col]=0

In [123]:
final_data_test.shape

(4500, 117)

In [124]:
final_data_test.columns.difference(xtrain.columns)

Index(['FirstB_B00088', 'FirstB_B00091'], dtype='object')

In [125]:
final_data_test.drop(['FirstB_B00088', 'FirstB_B00091'],axis=1,inplace=True)

In [126]:
final_data_test.shape

(4500, 115)

In [127]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: numpy in c:\users\hp\appdata\roaming\python\python37\site-packages (from xgboost) (1.17.4)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.4.1)

In [128]:

from xgboost.sklearn import XGBClassifier
from sklearn.svm import SVC

In [136]:
def preprocess(model):
    m=model
    m.fit(xtrain,ytrain)
    train_pred=m.predict(xtrain)
    test_pred=m.predict(xtest)
    print("***train & validation results ***********")
    print("F1 SCore_train : " + " %s" % f1_score(ytrain,train_pred))
    print("F1 SCore_test : " + " %s" % f1_score(ytest,test_pred))
    print("Accuracy_Score_test" + " %s" % accuracy_score(ytest,test_pred))
    print("Accuracy_Score_train" + " %s" % accuracy_score(ytrain,train_pred))
    print("recall_score_micro_train: " + " %s" % recall_score(ytrain,train_pred, average='micro'))
    print("recall_score_macro_train: " + " %s" % recall_score(ytest,test_pred, average='macro'))
    print("recall_score_micro_test: " + " %s" % recall_score(ytest,test_pred, average='micro'))
    print("recall_score_macro_test: " + " %s" % recall_score(ytest,test_pred, average='macro'))
    print("Precision_score_micro_train: " + " %s" % precision_score(ytrain,train_pred, average='micro'))
    print("Precision_score_macro_train: " + " %s" % precision_score(ytest,test_pred, average='macro'))
    print("Precision_score_micro_test: " + " %s" % precision_score(ytest,test_pred, average='micro'))
    print("precision_score_macro_test: " + " %s" % precision_score(ytest,test_pred, average='macro'))
    return m

In [137]:
preprocess(RandomForestClassifier())

***train & validation results ***********
F1 SCore_train :  0.9818748053565869
F1 SCore_test :  0.9845297029702971
Accuracy_Score_test 0.9757575757575757
Accuracy_Score_train 0.9759086017054391
recall_score_micro_train:  0.9759086017054391
recall_score_macro_train:  0.9692700308166411
recall_score_micro_test:  0.9757575757575757
recall_score_macro_test:  0.9692700308166411
Precision_score_micro_train:  0.9759086017054391
Precision_score_macro_train:  0.9594846616426886
Precision_score_micro_test:  0.9757575757575757
precision_score_macro_test:  0.9594846616426886

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [138]:
preprocess(LogisticRegression())

***train & validation results ***********
F1 SCore_train :  0.8000397732922343
F1 SCore_test :  0.8805321748574532
Accuracy_Score_test 0.7866666666666666
Accuracy_Score_train 0.6670254160112592
recall_score_micro_train:  0.6670254160112592
recall_score_macro_train:  0.5008281972265023
recall_score_micro_test:  0.7866666666666666
recall_score_macro_test:  0.5008281972265023
Precision_score_micro_train:  0.6670254160112592
Precision_score_macro_train:  0.6434724581412279
Precision_score_micro_test:  0.7866666666666666
precision_score_macro_test:  0.6434724581412279

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [139]:
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier

In [140]:
preprocess(BaggingClassifier())

***train & validation results ***********
F1 SCore_train :  0.9765381255459876
F1 SCore_test :  0.979699364636603
Accuracy_Score_test 0.9682424242424242
Accuracy_Score_train 0.9688715953307393
recall_score_micro_train:  0.9688715953307393
recall_score_macro_train:  0.9603524653312789
recall_score_micro_test:  0.9682424242424242
recall_score_macro_test:  0.9603524653312789
Precision_score_micro_train:  0.9688715953307393
Precision_score_macro_train:  0.9468730368734652
Precision_score_micro_test:  0.9682424242424242
precision_score_macro_test:  0.9468730368734652

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=10,
                  n_jobs=None, oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [141]:
preprocess(GradientBoostingClassifier())

***train & validation results ***********
F1 SCore_train :  0.8055401101956225
F1 SCore_test :  0.8822158233922941
Accuracy_Score_test 0.7917575757575758
Accuracy_Score_train 0.6815133703121119
recall_score_micro_train:  0.6815133703121119
recall_score_macro_train:  0.5235265793528505
recall_score_micro_test:  0.7917575757575758
recall_score_macro_test:  0.5235265793528505
Precision_score_micro_train:  0.6815133703121119
Precision_score_macro_train:  0.7155385375494071
Precision_score_micro_test:  0.7917575757575758
precision_score_macro_test:  0.7155385375494071

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [142]:
preprocess(AdaBoostClassifier())

***train & validation results ***********
F1 SCore_train :  0.7980944658422867
F1 SCore_test :  0.8751378169790518
Accuracy_Score_test 0.7803636363636364
Accuracy_Score_train 0.6701713718023015
recall_score_micro_train:  0.6701713718023015
recall_score_macro_train:  0.5142141756548536
recall_score_micro_test:  0.7803636363636364
recall_score_macro_test:  0.5142141756548536
Precision_score_micro_train:  0.6701713718023015
Precision_score_macro_train:  0.5887690430264142
Precision_score_micro_test:  0.7803636363636364
precision_score_macro_test:  0.5887690430264142

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [131]:
sample=pd.read_csv("sample_submission_opxHi4g.csv")

In [132]:
sample.head()

  session_id  gender
0     u12112  female
1     u19725    male
2     u11795  female
3     u22639  female
4     u18034    male

In [133]:
test_predictions=clf.predict(final_data_test)

NameError: name 'clf' is not defined

In [ ]:
sample["gender"]=test_predictions

In [ ]:
sample.gender=sample.gender.map({0.0:'male',1.0:'female'})

In [ ]:
sample.head()

In [ ]:
sample.to_csv('Mysub_svc3.csv',index=False)

In [ ]:
sample.gender=sample.gender.map({0.0:'male',1.0:'female'})

In [ ]:
sample["gender"].value_counts()

In [ ]:
sample.head()